.opinions {
  background-image: url('../img/opinions/op_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  height: 1px;
  color: #fff;
}

.opinions__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-bottom: 100px;
}

.opinions__content i {
  font-size: 53rem;
  cursor: pointer;
}

.opinions__content_slider,
.opinions__content_box {
  position: relative;
  width: 100%;
}

.opinions__content_slider,
.opinions__content_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.opinions__content_center {
  position: absolute;
  margin-top: -170px;
  opacity: 1;
  transition: 0.8s;
}

.opinions__content_center.hide {
  opacity: 0;
}

.slider__opinions {
  position: absolute;
  top: 160px;
}

.opinions__photo {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 45px;
}

.opinions__title {
  font-size: 30rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fff;
}

.opinions__title > span {
  color: #17daa3;
}

.opinions__subtitle {
  font-size: 18rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  margin-top: 40px;
  margin-bottom: 120px;
  opacity: 0.3;
}

.opinions__subtitle > span {
  font-weight: 300;
}